
html,
body {
  height: 834px;
  width: 1194px;
  display: flex;
  flex-direction: column;

  font-family: 'Roboto', sans-serif;
  background-color: #FCF3D4;
  touch-action: none;
  /* 모바일에서 스크롤 방지 */
  position: fixed;
}

.home-icon {
  position: absolute;
  top: 20px;
  left: 20px;
}

.image-container {
  position: relative;
  width: 90vw;
  height: 40vw;
  overflow: hidden;
  margin: 60px auto 20px auto; /* 상단 마진 조정 */
  border-radius: 10px;
  border: 5px solid black;
  cursor: pointer; /* 클릭 가능한 표시 */
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.retake-btn-container {
  position: absolute;
  bottom: 10px;
  right: 10px;

}

.retake-btn {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: white;
  /* 반투명 검은색 배경 */

  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.retake-btn img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}


.upload-btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #007BFF;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #0056b3;
}

.audio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.upload-audio-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.upload-audio-btn:hover {
  background-color: #218838;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.result-container span {
  padding: 10px 20px;
  font-size: clamp(40px, 7vw, 80px);
  font-weight: bold;
  background-color: #FFCC00;
  border-radius: 40px;
  border: 5px solid black;
  color: black;
}


.record-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.record-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.record-btn img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* 모달 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80vw;
  max-height: 80vh;
  text-align: center;
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
